@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

@layer components {
  .scrolls::-webkit-scrollbar-track {
    @apply rounded-lg bg-[#393939];
  }
  .scrolls::-webkit-scrollbar {
    @apply w-[3px] h-[3px];
  }
  .scrolls::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-[#515151] transition-colors duration-1000;
  }
  .scrolls::-webkit-scrollbar-thumb:hover {
    @apply bg-[#515151];
  }

  .btn-text {
   @apply text-white font-bold text-sm md:text-base
  }
  .scale-15{
    transform: scale(1.1);
  }
  .section-wrapper {
    @apply max-w-screen-2xl  mx-auto px-4 xs:px-[30px] md:px-[50px]
  }
  .embla__dot {
    @apply inline-flex items-center justify-center bg-transparent touch-manipulation cursor-pointer border-0 p-0 m-0 w-[17px] h-[2px] rounded-[10px] mx-[5px]
  }

  .notification {
    @apply fixed -translate-x-2/4 text-base sm:text-lg font-semibold   text-white opacity-0 transition-opacity duration-[1s] ease-[ease-in-out] z-[1000] py-3 px-4 rounded-[5px] left-2/4 top-5;
  }
  .notification.slide-in {
    @apply animate-[slideIn_1s_forwards] opacity-100;
  }
  .notification.slide-out {
    @apply animate-[slideOut_1s_forwards] opacity-0;
  }
  
  .tab-btn {
    @apply text-[#595959] outline-none font-bold relative after:absolute after:w-5 after:h-1 after:-bottom-2 after:bg-transparent after:left-0 after:rounded-full [&.active]:after:bg-light-blue [&.active]:text-light-blue transition-all duration-300
  }

  .embla__dot:after {
    background-color: #404040;
    width: 17px;
    height: 2px;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla__dot--selected:after {
    background-color: #914EFD;
  }

  .radio-btn {
    @apply relative cursor-pointer text-[22px] select-none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .radio-btn input {
    @apply absolute opacity-0 cursor-pointer;
  }
  
  .checkmark {
    @apply absolute h-5 w-5 bg-[#eee] rounded-[50%] left-0 top-0 after:content-[""] after:absolute after:hidden;
  }
  
  .radio-btn:hover input ~ .checkmark {
    @apply bg-[#ccc];
  }
  
  .radio-btn input:checked ~ .checkmark {
    @apply bg-brand-blue after:block;
  }
  
  .radio-btn .checkmark:after {
    @apply w-2.5 h-2.5 rounded-[50%] left-[5.5px] top-[5.5px];
    background: white;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  @keyframes fadeout {
    from {
      opacity:1;
    }
    to {
      opacity:0;
    }
  }

  @keyframes slideIn {
    from {
      @apply top-[-50px] opacity-0;
    }
    to {
      @apply opacity-100 top-[90px];
    }
  }
  @keyframes slideOut {
    from {
      @apply opacity-100 top-[90px];
    }
    to {
      @apply top-[-50px] opacity-0;
    }
  }
}

@font-face {
  font-family: 'satoshi';
  font-weight: bold;
  src: url("../assets/fonts/satoshi/Satoshi-Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'satoshi';
  font-weight: 700;
  src: url("../assets/fonts/satoshi/Satoshi-Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'satoshi';
  font-weight: 300;
  src: url("../assets/fonts/satoshi/Satoshi-Light.ttf") format("opentype");
}

@font-face {
  font-family: 'satoshi';
  font-weight: 500;
  src: url("../assets/fonts/satoshi/Satoshi-Medium.ttf") format("opentype");
}

@font-face {
  font-family: 'satoshi';
  font-weight: 400;
  src: url("../assets/fonts/satoshi/Satoshi-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'satoshi';
  src: url("../assets/fonts/satoshi/Satoshi-Regular.ttf") format("opentype");
}

body {
padding: 0;
margin: 0; 
/* overflow-y: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'satoshi', Arial, Helvetica, sans-serif !important;
}

@layer utilities {
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





